.board {
    overflow-y: hidden !important;
    height: 100vh;
    margin-top: -75px;
    padding-top: 70px;
    width: 100%;
    img.board-background {
        z-index: -1 !important;
        position: absolute;
        top: -5px;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        border-radius: 0;;
    }
    .container-main {
        height: 35px;
    }
    .main-content {
        padding: 0 10px;
        z-index: 1 !important;
        margin-top: 5px;

        .add-list-btn {
            min-width: 240px !important;
            height: 35px;
            background-color: rgba(255, 255, 255, 0.475);

            &:hover {
                background-color: $Hover;
            }
        }
        .list-section {
            position: relative;
        }
    }
    .between {
        position: relative;
    }
    .board-bg {
        position: fixed;
        top: 70px;
        left: 0;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
    }
    .visible {
        transform: translateX(0);
    }
    @media (max-width:750px) {
        
    }
}
