.delete-verify {
    .main-content-delete {
        .btns {
            margin-bottom: 5px;
            button {
                width: 45%;
                text-align: center;
            }
            .dlt-btn {
                background-color: #eb5a46;
                color: #fff;
                &:hover {
                    background-color: #ec6f5f;
                }
            }
        }
    }
}
