.card-details {
    .card-details-board {
        z-index: 99;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -49%);
        width: 680px;
        height: 88vh;
        border-radius: 3px;
        background-color: $menuBg;
        .main {
            position: relative;
            padding: 25px;
            .margin-bottom {
                margin-bottom: 20px;
            }
            h3 {
                margin: 0;
                color: #091e42;
                font-weight: 500;
                font-size: 16px;
            }
            .checkList-section {
                height: 400px;
                overflow-y: auto;
                overflow-x: hidden;
                padding-inline-end: 5px;
                form {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
            .left-side {
                width: 450px;
                .title-section {
                    height: 50px;
                    .align-center .flex {
                        height: 25px;
                        align-items: center;
                    }
                    .icon {
                        width: 15px;
                    }
                    .title {
                        margin-inline-start: 10px;
                        .edit-title-pencil {
                            margin-inline-start: 10px;
                            font-size: 10px;
                        }
                    }

                    .watched-section {
                        margin-inline-start: 5px;
                        font-size: 13px;
                    }
                }
                .due-date-section {
                    padding-inline-start: 25px;
                    p {
                        font-size: 10px;
                        margin: 0;
                    }
                    .remove-date {
                        cursor: pointer;
                    }
                }
                .icon {
                    width: 15px;
                    color: $Text;
                }
                .labels {
                    margin-inline-start: 25px;
                    width: 100%;
                    p {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .description-title {
                    width: 100%;
                    h3 {
                        margin-block-end: 10px;
                    }
                    margin-inline-start: 10px;
                }
                .card-description-box {
                    min-height: 50px;
                    border-radius: 5px;
                    padding-block-start: 5px;
                    padding-inline-start: 10px;
                    background-color: #e8ebf1;
                    margin-block-end: 10px;
                    &:hover {
                        background-color: #e5e9f1;
                        cursor: pointer;
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                        font-weight: lighter;
                    }
                }
            }
            .right-side {
                .close-btn {
                    justify-content: flex-end;
                }
            }
        }
    }
}
